@font-face {
    font-family: 'OS reg';
    font-style: normal;
    font-display: swap;
    src: local('Open Sans'),
         url('../fonts/OpenSans-Regular.woff2'),
         url('../fonts/OpenSans-Regular.woff'),
         url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OS bold';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/OpenSans-Bold.woff2'),
         url('../fonts/OpenSans-Bold.woff'),
         url('../fonts/OpenSans-Bold.ttf');
}

body {
    --accent-color: #b59f5b;
    padding: 0;
    margin: 0;
    font-family: "OS bold", "Arial", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

a {
    font-style: none;
    text-decoration: none;
    color: inherit;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*шапка*/

header {
    height: 450px;
    position: relative;
    z-index: -2;
    padding-left: 10%;
    padding-right: 10%;

    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white; 
}

.menu {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    font-family: "OS reg", "Arial", sans-serif;
    font-size: 13px;
    width: 50%;
    justify-content: space-between;
}

.header__logo {
    height: 1.5em;
}

.intro {
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

.back::before {
    content: "";
    display: block;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}


/*тренд*/
.trends h1{
    font-size: 20px;
    color: black;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    gap: 10px;
    color: white;
}
.trends img {
    width: 100%;
    position: relative;
    z-index: -2;
}
.trends article {
    position: relative;
}

.group {
    position: absolute;
    bottom: 0;
    border: 3px solid var(--accent-color);
    margin: 1em;
    padding: 1em;
}


.tags {   
    color: var(--accent-color);
    padding-right: 10px;
    font-size: 14px;
    line-height: 40px;
}

.trends .tags:hover {
    text-decoration: underline;
}

.title {
    display: block;
    color: white;
    font-size: 20px;
    line-height: 24px;
}

.cards .title:hover {
    color: var(--accent-color);
}

/*посты*/
time {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
    font-weight: 400;
    font-family: "OS reg", "Arial", sans-serif;
    text-transform: lowercase;
    display: inline;
    margin-right: 20px;
}
.author {
    display: inline;
    font-family: "OS bold", "Arial", sans-serif;
    text-transform: none;
    font-style: normal;
    font-size: 12px;
}

article {
    display: flex;
    align-items: flex-start;
}
.post .title {
    color: black;
}

main {
    display: flex;
    width: 75%;
    margin: auto;
    font-size: 15px;
}

.post img {
    width: 45%;
    margin: 15px;
}

.post {
    margin-bottom: 20px;
    width: 70%;
}

.content {
    font-family: "OS reg", "Arial", sans-serif;
    text-transform: none;
}


aside {
    width: 20%;
}
/*новые посты*/
/*форма*/
/*теги*/
/*темы*/
/*наши изделия*/
/*попап*/
/*подвал*/